* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #1f1f1f;
  color: #fff;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
}

.main {
  background-color: #1c1c1c;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.box {
  background-color: #3f3f3f;
  border-radius: 6px;
}

.sectionTitle {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.7em 0 0.7em 0.75em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  letter-spacing: 1px;
  margin-top: 2em;
}
.sectionTitle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  height: 100%;
  width: 10px;
}

.sectionSubtitle {
  width: 100%;
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  margin: 1em 0.2em;
  padding: 0.4em 0.8em;
  letter-spacing: 1px;
}
.sectionSubtitle::before, .sectionSubtitle::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 8%;
  height: 3px;
  background-color: #fff;
}
.sectionSubtitle::before {
  left: 2%;
  top: 50%;
}
.sectionSubtitle::after {
  top: 50%;
  right: 2%;
}

.nav {
  position: fixed;
  padding: 0em 2em;
  background-color: #222;
  width: 100%;
  z-index: 100;
}
.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.nav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav__title p {
  margin-left: 0.5em;
}
.nav ul {
  list-style: none;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  padding: 2em 0;
}
.nav__list li {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}
.nav__list li a {
  color: #fff;
  text-decoration: none;
  height: 100%;
}
.nav__list li:nth-child(2):hover ul {
  display: block;
}
.nav__list__element {
  display: inline;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1em 1.5em;
}
.nav__list__underlist {
  display: none;
  margin-top: 0.5em;
  padding-top: 1.5em;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav__list__underlist li {
  background-color: rgba(34, 34, 34, 0.6666666667);
  opacity: 0;
  font-size: 1.4rem;
  padding: 1em 0.25em;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7333333333);
}
.nav__list__underlist li:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.7333333333);
  -webkit-animation: showUnderList 0.2s ease-in-out forwards;
          animation: showUnderList 0.2s ease-in-out forwards;
}
.nav__list__underlist li:nth-child(2) {
  -webkit-animation: showUnderList 0.2s 0.2s ease-in-out forwards;
          animation: showUnderList 0.2s 0.2s ease-in-out forwards;
}
.nav__list__underlist li:nth-child(3) {
  -webkit-animation: showUnderList 0.4s 0.2s ease-in-out forwards;
          animation: showUnderList 0.4s 0.2s ease-in-out forwards;
}

.main {
  min-height: 100vh;
  padding: 5em 0;
}

.footer {
  text-align: center;
  font-size: 1.4rem;
  background-color: #1a1a1a;
  padding: 1em 0.5em;
}

@media (min-width: 768px) {
  .nav__title {
    font-size: 3.2rem;
  }
  .nav .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__list__element {
    font-size: 2rem;
    padding: 1em 0.75em;
  }
  .header {
    background-image: url("../img/readingMan-big.jpg");
  }
  .header__box {
    max-width: 700px;
  }
  .header__box__title {
    font-size: 3rem;
  }
  .header__box__text {
    font-size: 1.8rem;
  }
  .header__box::before {
    bottom: -25px;
    left: -25px;
  }
  .header__box::after {
    top: -25px;
    right: -25px;
  }
  .header__box__button {
    font-size: 1.85rem;
  }
  section {
    margin: 1.5em 3em;
  }
}
@media (min-width: 992px) {
  .sectionTitle {
    font-size: 3.4rem;
  }
  .nav__title {
    font-size: 3.4rem;
  }
  .nav__list__underlist li {
    font-size: 1.55rem;
  }
}
@-webkit-keyframes showUnderList {
  0% {
    -webkit-transform: rotateX(0deg) scale(0.6);
            transform: rotateX(0deg) scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg) scale(1);
            transform: rotateX(360deg) scale(1);
    opacity: 1;
  }
}
@keyframes showUnderList {
  0% {
    -webkit-transform: rotateX(0deg) scale(0.6);
            transform: rotateX(0deg) scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg) scale(1);
            transform: rotateX(360deg) scale(1);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */